html, body {
    margin:0;
    padding:0;
}

.container{
    display: grid;
    overflow: scroll;
    background-color: black;
    width: 100vw;
    height: 200vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.25fr 0.25fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'hd hd hd'
    'nav nav nav'
    'nv nvv nvv'
    'mn mn mn'
    'mn2 mn2 mn2'
    'mn3 mn3 mn3'
    'mn4 mn4 mn4'
    'mn5 mn5 mn5'
    ;
}


/* Sida 1 index css */
/* Header css */
#mainhead{
  grid-area: hd;
  display: flex;
  background-color: #272727;
}

#logo{
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    color: white;
    margin-left: 15vw;
}

#menu{
    flex: 1;
}

#search{
  flex: 1;
}

 /* Menu js */


.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.showblock{
    display: block;
}

/* Side menu grid */
.menu{
    height: 100vh;
    width: 65vw;
    background-color: #272727;
    position: fixed;
    color: white;
    top: 0;
    left: -65vw;
    transition: left 0.2s;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 1fr 1fr 0.8fr;
    grid-template-areas: 
    'hdm hdm'
    'art art'
    'art2 art2'
    'art3 art3';
    z-index: 7;
    ;
}
.show{
    left: 0;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* Nav css */
.MainNav{
    grid-area: nav;
    display: flex;
}

.navigation{
    flex: 1;
    border-style: solid;
    border-width: 5px;
    border-radius: 8px;
    height: 60%;
    border-color: #595959;
    color: #FFFFFF;
    background-color: #716F6F;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation.selected{
    border-color: #75F561;
    color: #75F561;
    background-color: #504E4E;
    transition: border-color 3s 0s ease;
}

#sorttext{
    grid-area: nvv;
    color: white;
    text-align: left;
    font-size: 1.2rem;
    padding-left: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: solid;
    border-width: 4px;
    border-radius: 2px;
    border-color: #504E4E;
    margin-right: 15px;
    margin-left: 35px;
}

/* Main css */
/* Row 1 */
.MainBokRow{
    grid-area: mn;
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}

#bok1{
    flex: 1;
}

#bok2{
    flex: 1;
}

#bok3{
    flex: 1;
}

/* Row 2 */
.MainBokRow2{
    grid-area: mn2;
    display: flex;
    justify-content: space-around;   
    margin-top: 2vh;
}

#bok1{
    flex: 1;
}

#bok2{
    flex: 1;
}

#bok3{
    flex: 1;
}


/* Row 3 */
.MainBokRow3{
    grid-area: mn3;
    display: flex;
    justify-content: space-around;   
    margin-top: 2vh;
}

#bok1{
    flex: 1;
}

#bok2{
    flex: 1;
}

#bok3{
    flex: 1;
}

/* Row 4 */
.MainBokRow4{
    grid-area: mn4;
    display: flex;
    justify-content: space-around;   
    margin-top: 2vh;
}

#bok1{
    flex: 1;
}

#bok2{
    flex: 1;
}

#bok3{
    flex: 1;
}

/* Row 5 */
.MainBokRow5{
    grid-area: mn5;
    display: flex;
    justify-content: space-around;   
    margin-top: 2vh;
}

#bok1{
    flex: 1;
}

#bok2{
    flex: 1;
}

#bok3{
    flex: 1;
}


/* Duplicera alla kommer ha samma struktur i mn*/
.bok{
    display: grid;
    height: 25vh;
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas: 
    'img'
    'h3'
    ;
}

.titel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    font-size: small;
    border-color: #595959;
    background-color: #716F6F;
    text-align: center;
}

